###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> Node ###
/node_modules/
/npm-debug.log
/yarn-error.log
###< Node ###

###> Build assets ###
# /public/build/ committé pour déploiement sur hébergement sans Node.js
###< Build assets ###

###> IDE ###
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
###< IDE ###

###> Uploads ###
/public/uploads/*
!/public/uploads/.gitkeep
!/public/uploads/articles/
!/public/uploads/categories/
!/public/uploads/collections/
!/public/uploads/general/
!/public/uploads/temp/
/public/uploads/articles/*
!/public/uploads/articles/.gitkeep
/public/uploads/categories/*
!/public/uploads/categories/.gitkeep
/public/uploads/collections/*
!/public/uploads/collections/.gitkeep
/public/uploads/general/*
!/public/uploads/general/.gitkeep
/public/uploads/temp/*
!/public/uploads/temp/.gitkeep
###< Uploads ###
